* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  font-family: 'Roboto', sans-serif;
}

.square {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 10px;
  width: 400px;
  height: 50px;
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}

label {
  position: absolute;
  left: -999999px
}

p {
  font-size: 2em;
}